{#
SPDX-FileCopyrightText: 2023 Thomas Breitner

SPDX-License-Identifier: MIT
#}

<a class="md-nav__link" href="{{ nav_item.url|url }}">
    {{ nav_item.title }}
    {% if nav_item.is_page and nav_item.meta.status %}
        <strong>{{ nav_item.meta.status }}</strong>
    {% endif %}
</a>
