/*
 * SPDX-FileCopyrightText: 2024 Thomas Breitner <mail@thms.de>
 *
 * SPDX-License-Identifier: MIT
 */

/* Reset some default MkDocs styles */
.pagetree details {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.pagetree summary {
  list-style-position: outside;
}
.pagetree ul {
  list-style-type: disc;
}
/* Reset some Material for MkDocs styles */
.md-typeset .pagetree details {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
.md-typeset .pagetree summary {
  padding-left: 1.3em;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}
.md-typeset .pagetree summary::after {
  display: none;
}
.md-typeset .pagetree summary::before {
  background-color: currentcolor;
  content: "";
  height: 1rem;
  -webkit-mask-image: var(--md-details-icon);
  mask-image: var(--md-details-icon);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  transform: rotate(0deg);
  transition: transform 0.25s;
  width: 1rem;
}
.md-typeset .pagetree details[open] > summary::before {
  transform: rotate(90deg);
}
.md-typeset .pagetree-container ul li {
  margin-bottom: 0;
}
[dir="ltr"] .md-typeset .pagetree-parent {
  margin-left: 0.625em;
}
.md-typeset .pagetree-navlink {
  display: inline;
}

/* Custom styles for Pagetree */
.pagetree-parent {
  list-style-type: none;
}

@supports (hanging-punctuation: first) and (font: -apple-system-body) and
  (-webkit-appearance: none) {
  /* Safari workaround for summary list-style-position: outside */
  summary::-webkit-details-marker {
    display: none;
  }
  .pagetree-parent {
    list-style-type: "▶ ";
  }
  .pagetree-parent:has(> details[open]) {
    list-style-type: "▼ ";
  }
}
