# SPDX-FileCopyrightText: 2023 Thomas Breitner
#
# SPDX-License-Identifier: CC0-1.0

graf src/mkdocs_pagetree_plugin/templates
graft src/mkdocs_pagetree_plugin/assets

prune docs/
prune .github/

exclude \
    .gitignore \
    .pre-commit-config.yaml \
    REUSE.toml \
    mkdocs.yml
